@model HCrawler.Api.ViewModels.Page<HCrawler.Core.Proxies.DetailedImage>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body class="has-navbar-fixed-top">
<div class="container" style="max-width: 500px;">
    <nav class="navbar is-transparent is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-uppercase  is-family-monospace" href="/">
                Imager
            </a>
            @if (@Model.Name is object)
            {
                <a target="_blank" rel="noopener noreferrer" class="navbar-item is-uppercase is-family-monospace" href="@Model.Results.First().DetailedProfile.Url">
                    @Model.Name
                </a>
            }
            @if (Model.Previous is object)
            {
                <a class="navbar-item is-family-monospace" href="javascript:history.back();">
                    &lt
                </a>
            }
            <a class="navbar-item is-family-monospace" href="/?checkpoint=@Model.Next@(Model.Name is object ? $"&name={Model.Name}" : "")">
                >
            </a>
        </div>
    </nav>
    @foreach (var image in Model.Results)
    {
        <a href="/?name=@image.DetailedProfile.Name">
            <div style="padding-bottom: 10px; padding-top: 10px">
                <figure class="image">
                    @if (image.Path.Contains("mp4"))
                    {
                        <video muted autoplay loop>
                            <source src="@image.DetailedProfile.DetailedSource.Name/@image.Path" type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img src="@image.DetailedProfile.DetailedSource.Name/@image.Path"/>
                    }
                </figure>
                @if (Model.Name == null)
                {
                    <span class="is-family-monospace is-size-7 has-text-black">
                        @image.DetailedProfile.Name/<a target="_blank" rel="noopener noreferrer" class="is-family-monospace is-size-7 has-text-black" href="@image.Url">@image.DetailedProfile.DetailedSource.Name</a>
                    </span>
                }
            </div>
        </a>
    }
</div>
</body>
</html>